@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@502&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}  
  body {
    background-color:rgb(133, 15, 15);
  
}
   header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background-color: black;
   }
   header div {
    text-align: center;
   }
   header div a {
    color:bisque;
    font-size: 20px;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: blanchedalmond;
    font-family: 'Oswald';
   }
header div a:hover {
    color:blueviolet;
    transition: color 700ms;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none;
    font-family: 'Oswald';
}

#box {
   text-align: center;
   padding: 32px;
}
#box img {
    border-radius: 50%;
    border: 5px solid;
    margin-bottom: 32px;
}



 
 
