@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@502&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}  
  body {
    background-color: black;
  
}
   header {
    padding: 32px;
    border-bottom: 1px solid var(--subcor);
    background-color: rgb(133, 15, 15);
   }
   h.links {
    text-align: center;
   }
   .links a {
    color:bisque;
    font-size: 24px;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: blanchedalmond;
    font-family: 'Oswald';
   }
.links a:hover {
    color: color var(--subcor);
    transition: color 700ms;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none;
    font-family: 'Oswald';
}

#box {
   text-align: center;
   padding: 32px;
}
#box img {
    border-radius: 50%;
    border: 5px solid;
    margin-bottom: 32px;
}
#box h1{
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
}
#box p {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
    max-width: 500px;
    margin: 32px auto;
}
:root{
 --subcor: #27073c;    
}